* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  z-index: -1;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  z-index: -1;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.bottom_top {
  height: 150px;
}

/* START LOG IN SECTION */
.login {
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #222831;
  border-radius: 15px;

  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  line-height: 1.2;
}
.restname {
  text-align: center;
  color: whitesmoke;
  font-style: italic;
  padding: 20px;
  font-size: 25px;
}

#email {
  width: 300px;
  height: 40px;
  border: solid;
  border-color: #ffc107;
  border-radius: 10px;
  padding-left: 8px;
}
#password {
  width: 300px;
  height: 40px;
  border: solid;
  border-color: #ffc107;
  border-radius: 10px;
  padding-left: 8px;
}
.or {
  color: whitesmoke;
}
#log {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  font-size: 20px;
  font-style: bold;
  color: #222831;
  background-color: #ffc107;
  cursor: pointer;
}
.signup {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  font-size: 20px;
  font-style: bold;
  cursor: pointer;
  color: #222831;
  background-color: #ffc107;
}
/* Small Screen */

@media (min-width: 400px) {
  .login {
    width: 70%;
  }
}

/* Medium Screen */

@media (min-width: 992px) {
  .login {
    width: 70%;
  }
}

/* Large Screen */

@media (min-width: 1200px) {
  .login {
    width: 50%;
  }
}
/* END LOG IN SECTION */
